
.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
  font-family:inherit
}

.login-card {
  width: 450px;
  height: 550px;
  left: -125%;  
  top: 100Px;
  box-shadow: 6px 4px 14px 2px rgba(155, 154, 154, 0.58);
  border-radius: 25px !important;
  border: 2px solid white !important;
}

.signup-card {
  width: 450px;
  height: 600px;
  left: 460px;  
  top: 100Px;
  box-shadow: 6px 4px 14px 2px rgba(155, 154, 154, 0.58);
  border-radius: 25px !important;
  border: 2px solid white !important;
}

.gbutton {
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#logo {
  width: 680px;
  height: 600px;
}

@media only screen and (max-width: 600px) {
  .login-card{
    width: 350px;
    left: 6%; 
  }
  .signup-card{
    width: 350px;
    left: -3%; 
  }
  #logo{
    width: 400px;
    height: 350px;
  }
  #Popover1 {
    margin-left: 100px !important;
  }
}

#Popover1 {
  background-color:#3E588F; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 250px;
  box-shadow: 6px 4px 14px 2px rgba(155, 154, 154, 0.58);
  border-radius: 25px !important;
}

