/**************************** BASIC PANEL GRID *****************************/

.panels > div {
    border: 1px solid black;
}

.panels {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 225px auto auto;
    grid-template-rows: auto auto;
}

.panel-user {
    grid-row: span 2;
}

.panel-news {
    grid-column: span 2;
}

@media(max-width: 768px) {
    .panels {
        grid-template-columns: 225px auto;
        grid-template-rows: auto auto auto;
    }
    .panel-news {
    grid-column: span 2;
    }
}

@media(max-width: 500px) {
    .panels {
        grid-template-columns: auto;
    }
    .panel-news {
    grid-column: span 1;
    }
}

/**************************** BASIC PANEL GRID *****************************/