.stock-container {
    display: flex;
    justify-content: center;
}

.stock-row {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid whitesmoke;
    width: 900px;
}

.stock {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}

.stock img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.stock h1 {
    height: 16px;
    width: 150px;
}

.stock-symbol {
    text-transform: uppercase;
}

.stock-data {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.stock-price {
    width: 110px;
}

.stock-volume {
    width: 155px;
}

.stock-marketcap {
    width: 230px;
}

.stock-percent {
    width: 100%;
}

.red {
   color: #f00606;
}

.green {
  color:  #11d811;
}



